<div *ngIf="!this.loading">
  <div class="p-1 m-4">
    <div class="text-xl text-bold">
      Reviewed: {{ this.listWords.length - this.randomIdxs.length }}/{{
        this.listWords.length
      }}
    </div>
    <div class="p-2">
      <app-flip-card
        #card
        [front]="this.listWords[idx][2]"
        [back]="this.listWords[idx][3]"
      ></app-flip-card>
    </div>
    <div class="p-4 grid grid-cols-2 gap-4 h-[100px]">
      <button (click)="reviewLater()" class="bg-red-500">
        <mat-icon>cancel</mat-icon>
      </button>
      <button (click)="nextSentence()" class="bg-green-500">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
  <div class="p-2">
    <a href="https://learning-korean.com">Source</a>
  </div>
</div>
