<div class="w-full h-screen justify-center items-center p-4">
  <div class="flex justify-center items-center w-full">
    <img class="w-[30%] border rounded-lg shadow-lg" src="/assets/flag.svg" />
  </div>
  <div class="w-screen p-8">
    <div class="wave-text">
      <span
        *ngFor="let letter of letters; let i = index"
        class="wave-letter text-8xl"
        [style.animationDelay]="getDelay(i)"
      >
        {{ letter }}
      </span>
    </div>
  </div>
  <div class="w-screen flex justify-center">
    <h1>Let's start learning Korean Together!</h1>
  </div>
</div>
